{{- define "summarize" -}}
Please provide a comprehensive summary of the previous documents.
{{- end -}}

{{- define "requirements" -}}
Formatting Requirements:
Use markdown formatting for clarity (headings, lists, etc.).

Citation Requirements:
Every summary point, whether paraphrased or quoted, MUST be cited appropriately.
Cite sources using this format: (author, [Type](URL)). For example: (oscar, [issue](github.com/issue/19)).
If no author, use this citation format: ([Type](URL)).
Do not fabricate any information or citations. If no comments are present, state that explicitly.
{{- end -}}