<!--
Copyright 2024 The Go Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<!doctype html>
<html>
  <head>
	{{template "head" .}}
  </head>
  <body>
  	{{template "header" .}}

	<div class="section" id="result">
	{{- with .Error -}}
		<p>Error: {{.Error}}</p>
	{{- else with .Result -}}
	    <div class="result">
		    <table>
			  <tr><th>Key</th><th>Value</th></tr>
		      {{range .Items}}
			    <tr><td>{{.Key}}</td><td><pre>{{.Value}}</pre></td>
			  {{end}}
			</table>
		</div>
	{{- else }}
		{{if .Params.Start}}<p>No results.</p>{{end}}
	{{- end}}
   </div>
  </body>
</html>

