<!--
Copyright 2024 The Go Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<!doctype html>
<html>
  {{template "head" .}}
  <body>
	{{template "header" .}}

	<div class="section" id="result">
	{{- with .Error -}}
		<p>Error: {{.}}</p>
	{{- else with .Result -}}
		<div class="metadata">
			<h2>Metadata</h2>
			<p><strong>{{.Title}}</strong></p>
			<p>Author: {{.User.Login}}</p>
			<p>State: {{.State}}</p>
	</div>
	<div class="result">
		<p>{{.HTML}}</p>
	</div>
	{{- end}}
	</div>
  </body>
</html>
