<!--
Copyright 2024 The Go Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<!doctype html>
<html>
  {{template "head" .}}
  <body>
    {{template "header" .}}
    {{template "search-result" .}}
  </body>
</html>

{{define "search-result"}}
<div class="section">
{{- with .Error -}}
	<p>Error: {{.}}</p>
{{- else with .Results -}}
	{{- range . -}}
	<div class="result">
	{{if .IDIsURL -}}
			<span><a class="id" href="{{.ID}}">{{.ID}}</a></span>
		{{if .Title -}}
			<span class="title"><a href="{{.ID}}">{{.Title}}</a></span>
		{{end -}}
	{{else -}}
		<span class="id">{{.ID -}}</span>
		{{with .Title}}
		<span class="title">>{{.}}</span>
		{{end -}}
	{{end -}}
	<span class="kind">type: {{.Kind}}</span>
	<span class="score">similarity: <b>{{.Score}}</b></span>
	</div>
	{{end}}
{{- else -}}
	{{if .Params.Query}}<p>No results.</p>{{end}}
{{- end}}
</div>
{{end}}
