<!--
Copyright 2024 The Go Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<!doctype html>
<html>
  <head>
    <title>Oscar Search</title>
	<style>
	body {
		font-family: sans-serif;
		font-size: 1em;
		color: #3e4042;
	}
	.header {
		display: block;
	}
	form span {
		display: block;
		padding-bottom: .2em
	}
	label {
		display: inline-block;
		width: 20%;
		margin-right: .1em;
	}
	input {
		display: inline-block;
		width: 20%;
	}
	input.submit {
		width: 10%;
	}
	.title,span.title a {
		font-weight: bold;
		font-size: 1.1em;
		color: #3e4042;
	}
	.kind,.score {
		color: #6e7072;
		font-size: .75em;
	}
	a {
		color: #007d9c;
		text-decoration: none;
	}
	p {
		margin-top: .25em;
		margin-bottom: .25em;
	}
	a:hover {
		text-decoration: underline;
	}
	div.result span {
		display: block;
		padding-bottom: .05em;
	}
	div.result {
		padding-bottom: 1em;
	}
	div.section {
		padding: 0em 2em 1em 1em;
	}
	.filter-tips-box {
		font-size: .75em;
		padding-bottom: .5em;
	}
	.toggle {
	    font-weight: bold;
	 	color: #007d9c;
	}
	.toggle:hover {
		text-decoration: underline;
	}
	#filter-tips {
		display: none;
	}
	.submit {
		padding-top: .5em;
	}
	</style>
  </head>
  <body>
    <div class="section" class="header">
	 <h1>Gaby search</h1>
		<p>Search Gaby's database of GitHub issues and Go documentation.</p>
		<div class="filter-tips-box">
			<div class="toggle" onclick="toggle()">[show/hide filter tips]</div>
			<ul id="filter-tips">
				<li><b>min similarity</b> (<code>float64</code> between 0 and 1): similarity cutoff (default: 0, allow all)</li>
				<li><b>max results</b> (<code>int</code>): maximum number of results to display (default: 20)</li>
				<li><b>include types</b> (comma-separated list): document types to include, e.g <code>GitHubIssue,GoBlog</code> (default: empty, include all)</li>
				<li><b>exclude types</b> (comma-separated list): document types to filter out, e.g <code>GitHubIssue,GoBlog</code> (default: empty, exclude none)</li>
			</ul>
		</div>
	 <form id="form" action="/search" method="GET">
		<span>
		 <label for="query"><b>query</b></label>
		 <input id="query" type="text" name="q" value="{{.Query}}" required autofocus />
		</span>
		<span>
		 <label for="threshold">min similarity</label>
		 <input id="threshold" type="text" name="threshold" value="{{.Threshold}}" required autofocus />
		</span>
		<span>
		 <label for="limit">max results</label>
		 <input id="limit" type="text" name="limit" value="{{.Limit}}" required autofocus />
		</span>
		<span>
		 <label for="allow_kind">allow types</label>
		 <input id="allow_kind" type="text" name="allow_kind" value="{{.AllowStr}}" optional autofocus />
		</span>
		<span>
		 <label for="deny_kind">exclude types</code></label>
		 <input id="deny_kind" type="text" name="deny_kind" value="{{.DenyStr}}" optional autofocus />
		</span>
		<span class="submit">
		 <input type="submit" value="search"/>
		</span>
	 </form>
	</div>

    <script>
    const form = document.getElementById("form");
    form.addEventListener("submit", (event) => {
		document.getElementById("working").innerHTML = "<p style='margin-top:1rem'>Working...</p>"
    })
	function toggle() {
		var x = document.getElementById("filter-tips");
		if (x.style.display === "block") {
			x.style.display = "none";
		} else {
			x.style.display = "block";
		}
	}
    </script>

	<div class="section">
	<div id="working"></div>
    {{/* This template assumes that if a result's Kind is non-empty, it is a URL, and vice versa. */}}
	{{with .Results -}}
	  {{- range . -}}
	    <div class="result">
	    {{if .Kind -}}
			 <span><a class="id" href="{{.ID}}">{{.ID}}</a></span>
			{{if .Title -}}
			 <span class="title"><a href="{{.ID}}">{{.Title}}</a></span>
			{{end -}}
			<span class="kind">type: {{.Kind}}</span>
	    {{else -}}
		  <span class="id">{{.ID -}}</span>
		  {{with .Title}}
			<span class="title">>{{.}}</span>
		  {{end -}}
	    {{end -}}
	    <span class="score">similarity: <b>{{.Score}}</b><span>
		</div>
	  {{end}}
	{{- else -}}
	 {{if .Query}}<p>No results.</p>{{end}}
  	{{- end}}
   </div>
  </body>
</html>